package {{basePackage}};

import javax.ws.rs.ApplicationPath;
import javax.ws.rs.core.Application;
import com.fasterxml.jackson.databind.Module;

// TODO: Agregar swagger
@ApplicationPath("{{appPathBase}}")
public class {{appMainClass}} extends Application {

}
