

    {{^vendorExtensions.x-java-r9-data-driven}}
        {{^isArray}}Uni<{{returnType}}> result = Uni.createFrom().voidItem();{{/isArray}}{{#isArray}}Multi<{{returnType}}> result = Multi.createFrom().empty();{{/isArray}}
        return result;
    {{/vendorExtensions.x-java-r9-data-driven}}

    {{#vendorExtensions.x-java-r9-data-driven}}

        return {{#vendorExtensions.x-java-r9-data-driven-class-var}}{{{.}}}{{/vendorExtensions.x-java-r9-data-driven-class-var}}.execute(

        {{#vendorExtensions.x-java-r9-header}}
            {{#vendorExtensions.x-java-r9-header-param}}{{{.}}}{{/vendorExtensions.x-java-r9-header-param}} ,
        {{/vendorExtensions.x-java-r9-header}}

        {{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}}




        );
    {{/vendorExtensions.x-java-r9-data-driven}}





