package {{package}};

import java.util.Objects;
{{#imports}}import {{import}};
{{/imports}}

{{#openApiNullable}}
//import org.openapitools.jackson.nullable.JsonNullable;
{{/openApiNullable}}

{{#serializableModel}}
import java.io.Serializable;
{{/serializableModel}}

{{#useBeanValidation}}
import javax.validation.Valid;
import javax.validation.constraints.*;
{{/useBeanValidation}}

{{#performBeanValidation}}
import org.hibernate.validator.constraints.*;
{{/performBeanValidation}}

{{#jackson}}


{{/jackson}}
{{#withXml}}
import javax.xml.bind.annotation.*;
{{/withXml}}
{{^parent}}


{{/parent}}

{{#models}}
{{#model}}
{{#isEnum}}
{{>enumOuterClass}}
{{/isEnum}}
{{^isEnum}}
{{>pojo}}
{{/isEnum}}
{{/model}}
{{/models}}
