package {{packagePortOutput}};


import javax.ws.rs.*;
import javax.ws.rs.core.*;

import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.eclipse.microprofile.openapi.annotations.parameters.RequestBody;
import org.jboss.resteasy.annotations.SseElementType;

import io.quarkus.arc.DefaultBean;
import javax.enterprise.context.Dependent;
import javax.enterprise.context.ApplicationScoped;

import io.smallrye.mutiny.Multi;
import io.smallrye.mutiny.Uni;

import {{importimplement}};

@Slf4j
@ApplicationScoped
public class {{classname}} implements {{implementclassname}}{

{{#operation}}

    public {{>returnTypes}} execute({{#allParams}}{{^-last}},{{/-last}}{{#-last}}{{#reactive}}{{/reactive}}{{/-last}}{{/allParams}}) {
        log.info("{{operationId}} start");
        Uni<Void> result = Uni.createFrom().voidItem();
        return result;
    }

{{/operation}}

}


